# PostgreSQL channel queue settings
NKAA_CONTAINER_PREFIX=nkaa
NKAA_CHANNEL_DB_STORAGE=./_data/channel-db
NKAA_CHANNEL_DB_PORT=5433
NKAA_CHANNEL_DATABASE_URL=postgresql+psycopg://nkaa:nkaa@nkaa-channel-db:5432/nkaa
